<div class="row" dragula='"first-bag"'>
  <div class="col-sm-6">
    <div ng-show="salesManData" class="panel panel-default panel-animation">
      <div class="panel-heading">
        <h3 class="panel-title">Sales Man Data
          <span class="glyphicon glyphicon-move pull-right"></span>
          <a data-toggle="modal" data-target=".sales-man-data-modal"><span class="glyphicon glyphicon-resize-full pull-right"></span></a>
        </h3>

      </div>
      <div class="panel-body">
        <sales-man-data></sales-man-data>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div ng-show="lastYearData" class="panel panel-default panel-animation">
      <div class="panel-heading">
        <h3 class="panel-title">Last Year Data
          <span class="glyphicon glyphicon-move pull-right"></span>
          <a data-toggle="modal" data-target=".last-year-data-modal"><span class="glyphicon glyphicon-resize-full pull-right"></span></a>
        </h3>
      </div>
      <div class="panel-body">
        <last-year-data></last-year-data>
      </div>
    </div>
  </div>
</div>
<div class="row" dragula='"first-bag"'>
  <div class="col-sm-6">
    <div ng-show="topSalesOrders" class="panel panel-default panel-animation">
      <div class="panel-heading">
        <h3 class="panel-title">Top Sales Order
          <span class="glyphicon glyphicon-move pull-right"></span>
          <a data-toggle="modal" data-target=".top-sales-orders-modal"><span class="glyphicon glyphicon-resize-full pull-right"></span></a>
        </h3>
      </div>
      <div class="panel-body">
        <top-sales-orders></top-sales-orders>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div ng-show="topSalesMen" class="panel panel-default panel-animation">
      <div class="panel-heading">
        <h3 class="panel-title">Top Sales Men
          <span class="glyphicon glyphicon-move pull-right"></span>
          <a data-toggle="modal" data-target=".top-sales-men-modal"><span class="glyphicon glyphicon-resize-full pull-right"></span></a>
        </h3>
      </div>
      <div class="panel-body">
        <top-sales-men></top-sales-men>
      </div>
    </div>
  </div>
</div>

<div class="modal fade sales-man-data-modal" tabindex="-1" role="dialog" aria-labelledby="salesManDataModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sales Man Data</h4>
      </div>
      <div class="modal-body">
        <sales-man-data></sales-man-data>
      </div>
    </div>
  </div>
</div>

<div class="modal fade last-year-data-modal" tabindex="-1" role="dialog" aria-labelledby="lastYearDataModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Last Year Data</h4>
      </div>
      <div class="modal-body">
        <last-year-data></last-year-data>
      </div>
    </div>
  </div>
</div>

<div class="modal fade top-sales-orders-modal" tabindex="-1" role="dialog" aria-labelledby="topSalesOrdersModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Top Sales Orders</h4>
      </div>
      <div class="modal-body">
        <top-sales-orders></top-sales-orders>
      </div>
    </div>
  </div>
</div>

<div class="modal fade top-sales-men-modal" tabindex="-1" role="dialog" aria-labelledby="topSalesMenModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Top Sales Men</h4>
      </div>
      <div class="modal-body">
        <top-sales-men></top-sales-men>
      </div>
    </div>
  </div>
</div>
